:root { 
--bluegray_900:#2b303f; 
--black_900:#000000; 
--blue_A400:#167dff; 
--bluegray_400:#7f8395; 
--bluegray_101:#d6d8e5; 
--bluegray_100:#d9d9d9; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--gray_50:#f8f9fa; 
}